{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/welcome.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div id="main">
    <div id="welcome-msg">{{ welcome_msg }}</div>
  </div>
  <div id="newsest">
    <div class="center"> <h2>{{ newsest }}</h2></div>
    <div class="elem">
      <div class="title"></div>
    </div>
  </div>
{% endblock %}
